/*
Theme Name: Return
Theme URI: https://dcrazed.com/return-website-template/ 
Author: Dcrazed
Author URI: 
Description: Return is a powerful business website template handcrafted by Designscrazed that will help you build your responsive design website. The template works well in tablet and smartphones. The CSS3 animations, portfolio integration, pricing tables, map & contact adds to the unique features of Return Template. This website template is built on top of Bootstrap framework so it will be easy to edit backend code.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

.content {
      padding: 16% 0 0 !important;
}



/*Fonts*/
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import 'https://fonts.googleapis.com/css?family=Lato:100';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';
/*Fonts*/
 
 
 /*Scroll bar changes*/
 
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}

::-webkit-scrollbar {
 width: 6px;
 background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
 background-color: #ccc;
}

::-webkit-scrollbar-track-piece:start {
/* Select the top half (or left half) or scrollbar track individually */
}

::-webkit-scrollbar-thumb:window-inactive {
/* Select the thumb when the browser window isn't in focus */
  
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
/* Select the down or left scroll button when it's being hovered by the mouse */
}
/*Scroll bar changes*/


body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-text-rendering: optimizeLegibility !important;
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
	/*color: #5a5a5a;*/
	color: #000;
	height: 100%;
}
.fright {
	float: right;
}
h1 {
	text-transform: uppercase;
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	margin: 0;
}
h3 {
	font-size: 18px;
	font-weight: 900;
}
h4 {
	text-transform: uppercase;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Roboto', sans-serif;
}
p.intro {
	margin: 50px 0 0;
	line-height: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3.2em;
	padding-bottom: 14px;
}
.about-content {
	margin: 30px 0 0 !important;
}
a {
	color: #FFFF00;
}
a:hover, a:focus {
	text-decoration: none;
	color: #FFFF00;
}
.section-title hr {
	border-color: #FFFF00;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */

.dropdown-menu {
	padding: 26px 0 !important;
	border: none;
	box-shadow: none;
	border-radius: 0px;
}
/*drop down start*/


.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	border-radius: 0px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.dropdown-submenu .dropdown-menu {
	background-color: none !important;
	background: #fbfbfb;
}
.dropdown-submenu .dropdown-menu .dropdown-submenu .dropdown-menu {
	background: #e8e8e8 !important;
}
/*drop down end*/





#tf-menu {
	transition: all 0.8s;
}
.navbar-right .btn-danger {
	color: #fff !important;
	font-weight: 500 !important;
	border-radius: 4px;
	/* height: 20px; */
    /* padding: 10px; */
	padding-top: 8px;
	padding-bottom: 7px;
	margin-top: 6px;
	background: #077623;
}
#tf-menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);*/
	background: #fff;
	border-top: 2px #077623 solid;
}
#tf-menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #969dad;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.on {
	background-color: #fff !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000 !important;
	background-color: transparent;
	font-weight: 700;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FFFF00;
	border-color: #FFFF00;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */







/*Video*/
#hero video {
	position: fixed;
	top: 60%;
	margin-top: 84px;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('/static/video/sample-vdo.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
.stopfade {
	opacity: .5;
}
 @media screen and (max-device-width: 800px) {
#bgvid {
	display: none;
}
}
.watch-video .modal-dialog {
	margin: 0px;
}
/* .modal-fullscreen */

.modal-fullscreen {
	background: transparent;
}
.modal-fullscreen .modal-content {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
	background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
	opacity: .97;
	filter: alpha(opacity=97);
}
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
@media (min-width: 768px) {
.modal-fullscreen .modal-dialog {
	width: 750px;
}
}
@media (min-width: 992px) {
.modal-fullscreen .modal-dialog {
	width: 970px;
}
}
@media (min-width: 1200px) {
.modal-fullscreen .modal-dialog {
	width: 1170px;
}
}
.modal-fullscreen .close {
	color: #fff;
	font-size: 40px;
	opacity: .6;
}
/*Video*/




#hero {
	background: url(/static/img/connectivity.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #fff;
	height: 100vh !important;
	position: relative;
}
.banner-ply {
	background: #077623;
	padding: 12px;
	float: left;
	z-index: 9;
}
.banner-caption1 {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 65px;
	margin-bottom: 36px;
}
.banner-content1 {
	font-size: 19pt;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 24px;
}
#hero .overlay {
	background: rgba(0, 0, 0, 0.17);
	background-attachment: fixed;
	height: 100vh;
}
.banner-link {
	font-size: 19px;
	color: #000 !important;
	margin: 0px;
}
.banner-link a {
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 18px 50px;
	border: 1px #000000 solid;
	border-radius: 25px;
}
.banner-link a i {
	margin-right: 15px;
}
.banner-link a:hover {
	color: #FFFF00;
}
#hero p.lead {
	color: #000000;
}
.content {
	position: relative;
	padding: 13% 0 0;
}
.color {
	color: #FFFF00;
}
a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 50%;
	font-size: 24px;
	margin-top: 200px;
	transition: all 0.5s;
}
a.fa.fa-angle-down:hover {
	background: #FFFF00;
	color: #ffffff;
	border: 2px solid #FFFF00;
}
a.fa.fa-angle-down1 {
	padding: 10px 15px;
	color: #fff;
	border-radius: 50%;
	font-size: 24px;
	margin-top: 200px;
	transition: all 0.5s;
}
.bton {
}
.bton:hover {
	background-color: #bf2020 !important;
}
/* About Section */
#tf-about {
	padding: 110px 0 110px 0;
	background: #fff;
}
ul.about-list {
	margin: 66px 0 0;
}
ul.about-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px;
}
ul.about-list li span {
	margin-right: 10px;
}
ul.about-list li .fa {
	color: #077623 !important;
}
ul.about-list li strong {
	font-weight: bold;
	color: #323433;
	font-size: 18px;
}
ul.about-list li em {
	font-size: 16px;
	font-weight: 300;
	color: #323433;
	font-style: normal;
}
ul.about-list li p {
	font-size: 16px;
	font-weight: 300;
	color: #323433;
	font-style: normal;
	margin-left: 34px;
}
.about-heading {
	text-align: center;
	color: #077623;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
/*.about-content{text-align:center;font-family: 'Roboto', sans-serif; font-weight:500; font-size:1.5em;}*/







/* product section*/

#tf-products {
	background: #f5f7fa;
	padding: 130px 0 35px;
}
.product-heading {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #323533;
	border-left: 4px #077623 solid;
	padding-left: 25px;
	font-size: 69px;
	margin-top: 20px;
}
.product-headingn {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #323533;
	padding-left: 25px;
	font-size: 48px;
	margin-top: 20px;
}
.product-content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
	font-size: 61px;
	color: #323533;
	padding-left: 24px;
}
.product-contentn {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
	font-size: 36px;
	color: #323533;
	padding-left: 50px;
}
.product-intro {
	font-size: 22px !important;
	font-weight: 300;
	text-align: left !important;
	margin-top: 20px !important;
	padding-left: 28px;
	color: #323533;
}
ul.products-list {
	margin: 66px 0 0;
	margin-left: 50px;
}
ul.products-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}
ul.products-list li span {
	margin-right: 33px;
	float: left;
	margin-top: 32px;
}
ul.products-list li .fa {
	color: #323533 !important;
}
ul.products-list li strong {
	font-size: 18px;
	font-weight: 500;
}
ul.products-list li p {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	margin-left: 42px;
}
#tf-products .produ-img {
	margin-top: -180px;
}
/*Stories Section*/

#tf-stories {
	background: #fff;
	padding: 100px 0
}
.stories-content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 36px;
	padding-bottom: 25px;
	color: #323533;
}
.stories-intro {
	font-size: 22px !important;
	font-weight: 300;
	text-align: center !important;
	margin-top: 20px !important;
	margin-bottom: 70px !important;
	color: #323533;
}
#tf-stories .stre-bg .storie-t {
	margin-left: 0px;
	display: inline-block;
	max-width: 387px;
	color: #323533;
}


#tf-stories .storie-t img{max-height:110px; overflow:hidden; width:100%; object-fit:cover;}

#tf-stories .stre-bg .storie-t p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #323533;
	/*text-align: left;*/
	line-height: 1.6;
	margin-top: 20px;
}
#tf-stories .stre-bg .storie-t span {
	font-size: 20px;
	font-weight: 300;
	float: left;
	margin-top: 46px;
}
#tf-stories .stre-bg .storie-t span em {
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
}
#tf-stories .col-md-12 a {
	padding: 15px 50px;
	font-size: 18px;
	border-radius: 28px;
	margin-left: 70px;
	margin-top: 76px;
}
/*Plan Section*/

#tf-plan {
	padding: 120px 0;
	/*background: #f5f7fa;*/
	
	background: url(/static/img/plan-bg-full.jpg) no-repeat;
	background-size: cover;
	background-clip: border-box;
}
.plan-d {
	margin-top: 20px;
}

.plan-d div:nth-child(2) {  margin-left:0px; }

.plan-d .col-md-3 {
	padding: 0;
	margin-left: 34px;
	margin-right: 8px;
}
#tf-plan h3 {
	margin-bottom: 40px;
}
.plan-col {
	background: #fff;
	padding: 55px 15px;
	border-radius: 10px;
}
.plan-col h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-transform: none;
	color: #323533;
	margin-bottom: 45px;
}
.plan-col h4 span {
	background: #333;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	font-size: 14px;
	border-radius: 5px;
	display: block;
	float: right;
	margin-top: 5px;
}
.plan-col span {
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: #323533;
}
.spec {
	color: #077623 !important;
}
.plan-col span sub {
	bottom: 0;
	color:#999;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.plan-col ul {
	list-style: none;
	margin-top: 45px;
}
.plan-col ul li {
	line-height: 1.8;
	color: #323433;
}
.plan-col ul li i {
	color: #077623;
	margin-right: 8px;
}
.plan-col .plan-loc-btn {
	color: #73757d;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	border-radius: 40px;
	text-transform: uppercase;
	padding: 12px 42px;
	margin-top: 45px;
}
.plan-col .spec-btn {
	background: #077623;
	color: #fff;
}
/* Sign up section*/

#tf-signup {
	padding: 100px 0;
	background: #087db7;
}
#tf-signup h5 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 36px;
	text-transform: none;
	font-weight: 300;
}
#tf-signup p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	line-height: 3;
}
#tf-signup .sign-loc-btn {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 18px 34px;
	width: 318px;
	margin-top: 30px;
	border-radius: 33px;
}
#tf-signup .sign-loc-btn i {
	float: right;
	margin-top: 3px;
}
#tf-signup .sign-loc-btn:hover i {
	margin-right: -33px;
	transition: all ease-in .3s;
-webkit- transition:all ease-in .3s;
	opacity: 0;
}
/* Blog section*/
#tf-blog {
	padding: 95px 0;
	background: #fff;
}
#tf-blog .col-md-4 strong {
	font-size: 15px;
	color: #077623;
}
#tf-blog .col-md-4 h6 {
	font-family: 'Roboto', sans-serif;
	color: #193e5b;
	font-size: 26px;
	text-transform: none;
	font-weight: 300;
}
#tf-blog h3 {
	margin-bottom: 65px;
	font-size: 40px;
}
#tf-blog button {
	float: right;
	border-radius: 15px;
}
/* Team Section */
#tf-team {
	/*	background: url(../img/03.jpg);*/
	background: #f5f7fa;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}
#tf-team .overlay {
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}
#tf-works .modal .modal-backdrop {
	opacity: 1;
	background: #fff;
}
#tf-works .modal .modal-content {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
/*#tf-team .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); 
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); 
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); 
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 );
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}
*/



.modal-lg {
	width: 100%;
}
.modal-header {
	border: none;
	border: none;
	z-index: 9999;
	position: absolute;
	/* float: right; */
	right: 0;
}
.close {
	font-size: 40px;
}
.modal-body .jumbotron {
	background: #fff;
	border-top: 1px #eaeaea solid;
	margin-top: 30px;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	font-weight: 300;
}
.section-title.center .line {
	border-top: 4px solid #FFFF00;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}
#team {
	margin: 0 auto;
	margin-top: 65px;
}
#team .item {
	padding: 0;
	margin: 15px;
	color: #FFF;
	text-align: center;
	background: #fff;
	padding: 40px 0 10px;
}
#team2 {
	margin: 0 auto
}
#team2 .item {
	padding: 0;
	margin: 15px;
	color: #FFF;
	text-align: center;
	-webkit-box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.13);
	box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.13);
}
#team2 .thumbnail {
	padding: 50px 25px;
}
#team2 .thumbnail .crsl-2 img {
	margin-bottom: 20px;
	margin-top: -15px;
}
#team2 .thumbnail .crsl-2 p a {
	color: #323433;
	font-size: 18px;
	padding: 0 10px;
}
#team2 .thumbnail .caption p {
	color: #879999 !important;
}
.crsl-2 {
	width: 200px;
	float: left;
}
/*.tf-carsl2 #team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
	border:1px #ccc solid;
	
	
	
}
*/

img.img-circle.team-img {
	width: 145px;
	height: 145px;
	border: 8px solid transparent;
	transition: all 0.5s;/*border: 8px solid #077623;*/
	/*background: url(../img/tem-bg.png) center center no-repeat;*/
}
#tf-team .item .thumbnail:hover>img.img-circle.team-img {
	/*border: 8px solid #FFFF00;*/
	background: url(../img/tem-bg.png) center center no-repeat;
}
#tf-team .item:hover {
	border-bottom: 1px #077623 solid;
}
#tf-team #team2 .item .crsl-2:hover>img.img-circle.team-img {
	border: 8px solid #FFFF00;
}
#tf-team .thumbnail {
	background: transparent;
	border: 0;
}
#tf-team .thumbnail .caption {
	padding: 9px;
	color: #323433;
}
#tf-team .thumbnail .caption h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
}
#tf-team .thumbnail .caption p {
	color: #73757d;
	font-size: 14px;
}
#tf-team .thumbnail .caption p a {
	color: #323433;
	font-size: 18px;
	padding: 0 10px;
}
#tf-team .thumbnail .caption p a:hover {
	color: #077623;
	transition: all ease-in .3s;
}
#tf-team .section-title strong {
	color: #c2c2c2;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
}
#tf-team .section-title h2 {
	color: #323433;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: bold;
	text-transform: none;
	margin-top: 20px;
}
#tf-team .section-title .team-itro {
	color: #077623;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #eaeaea;
	transition: all 0.5s;
}
.anle-g {
	background: conic-gradient(#077623, white);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #FFFF00;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #077623;
}
/* Services Section */
#tf-services {
	padding: 80px 0;
}
.space {
	margin-top: 40px;
}
#tf-services i.fa {
	font-size: 40px;
	border: 4px solid #FFFF00;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}
#tf-services i.fa.fa-mobile {
	font-size: 50px;
	padding: 20px 25px;
}
#tf-services .service:hover>i.fa {
	background: #FFFF00;
	color: #ffffff;
}
/* Clients Section */

#tf-Clients {
	background: #f5f7fa;
	padding: 80px 0;
}
#tf-Clients  h6{display:none;}
#tf-clients {
/*	background: url(../img/04.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
	color: #ffffff;
}
#tf-clients .overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(17%, rgba(0,0,0,0.73)), color-stop(35%, rgba(0,0,0,0.66)), color-stop(62%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0 ); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}
#clients .item {
	padding: 0;
	margin: 35px;
	color: #FFF;
	text-align: center;
}
/* Gallery Section 
==============================*/
#tf-works {
	padding: 80px 0;
	background: #f5f7fa;
}
.categories {
	padding: 40px 0;
}
ul.cat li {
	display: inline-block;
}
#tf-works li.pull-right {
	margin-top: 10px;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after {
	content: '  ';
	margin-left: 20px;
}
ol.type li:last-child:after {
	content: '';
}
ol.type li a {
	color: #969dad;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}
ol.type li a.active {
	font-weight: 700;
	border: 2px #dc3522 solid;
	padding: 5px 28px;
	border-radius: 20px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
	padding: 0;
}
.portfolio-item {
	/*margin-bottom: 30px;*/
	background: #FFF;/*padding: 20px;*/
}
.portfolio-item {
	opacity: .6;
}
.portfolio-item:hover {
	opacity: 1;
}
.port-sec {
	padding: 40px 20px 20px 20px;
	text-align: center;
}
.port-sec strong {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #077623;
	letter-spacing: 2px;
}
.port-sec p {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	color: #666666;
	margin-top: 20px;
	letter-spacing: 2px;
}
.pro-mrgn {
	margin-top: 80px;
}
.portfolio-item .hover-bg {
	/*height: 260px;*/
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	margin: 0 auto;
	color: #ffffff;
	background: #0098de;
	padding: 8px 0 8px 35px;
	margin-top: 135px;
	width: 100%;
	opacity: 0;
	min-height: 145px;
	overflow: hidden;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 36px;
	font-family: 'Roboto Slab', serif;
	text-transform: none;
}
.hover-bg .hover-text small {
	font-family: 'Montserrat', sans-serif;
	float: left;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 7px;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
	float: right;
	color: #fff;
	background: #077623;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#tf-works i.fa {
	margin-top: -58px;
	margin-right: 20px;
	font-size: 18px;
	padding: 10px;
	border-radius: 50%;
	color: #fff;
}
/* Testimonials Section */
#tf-testimonials {
	background: url(/static/img/05.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}
#tf-testimonials .overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(17%, rgba(0,0,0,0.73)), color-stop(35%, rgba(0,0,0,0.66)), color-stop(62%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0 ); /* IE6-9 */
	padding: 80px 0;
	background-attachment: fixed;
}
#testimonial {
	padding: 30px 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 30px 0;
	color: #d1d1d1;
}
/* Contact Section */
#tf-contact {
	padding: 80px 0;
	background:#fff;
}
label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
#tf-contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#tf-contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
button.btn.tf-btn.btn-default {
	float: right;
	background: #FFFF00;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}
/* Footer */
.footer-section{
	background: #252426;
	padding: 35px 0;
}
.footer-section .mai-subs input {
	background: #424543;
	border: none;
	border-radius: 5px;
	padding: 22px 22px;
}
.footer-section .mai-subs input[placeholder] {
	color: #fff;
	font-size: 18px;
}
.footer-section .mai-subs span button {
	padding: 18.5px;
	font-size: 18px
}
.footer-section .footer-social li a {
	color: #fff;
	font-size: 15px;
}
.footer-section .footer-social {
	margin-top: 50px;
}
nav#footer {
	background: #222222;
	color: #ffffff;
	padding: 20px 0 15px 0;
}
nav#footer .fnav {
	vertical-align: middle;
}
ul.footer-social li {
	display: inline-block;
	margin-right: 37px;
}
nav#footer p {
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover {
	background: #FFFF00;
	border-color: #FFFF00;
	color: #ffffff;
}
/*================================================================================================
Blog 
=================================================================================================*/
#jumbo .jumbotron {
	padding: 162px 0 149px 0;
	background: #f5f7fa;
}
#jumbo .jumbotron h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	font-weight: 700;
	text-transform: none;
	color: #323433;
	padding-top: 16px;
	margin-bottom: 32px;
	letter-spacing: 1px;
}
#jumbo .jumbotron p {
	font-size: 17px;
	color: #73757d;
}
#tf-articl {
	padding: 60px 0;
}
#side-search-input button {
	background-color: #193f5d;
	border-left-color: #193f5d;
	margin-left: -2px;
	border-color: #fff;
	padding: 10px 17px;
}
#side-search-input button:hover {
	border: 0px transparent solid;
}
#side-search-input button i {
	color: #077623;
}
.form-control:focus {
	border-color: #ccc;
	box-shadow: none;
}
#side-search-input input {
	border-color: #fff;
	border-right-color: #f5f7fa;
	box-shadow: none;
	background: #f5f7fa;
	padding: 20px 15px;
}
.search-query:focus + button {
	z-index: 3;
}
	
	
	/* Place Holder CSS for Focus */
#side-search-input input:focus::-webkit-input-placeholder {
 opacity: 0;
 -webkit-transition: opacity 0.35s ease-in-out;
 transition: opacity 0.35s ease-in-out;
}
#side-search-input input:focus:-moz-placeholder {
 opacity: 0;
 -moz-transition: opacity 0.35s ease-in-out;
 transition: opacity 0.35s ease-in-out;
}
#side-search-input input:focus::-moz-placeholder {
 opacity: 0;
 -moz-transition: opacity 0.35s ease-in-out;
 transition: opacity 0.35s ease-in-out;
}
#side-search-input input:focus:-ms-input-placeholder {
 opacity: 0;
 -ms-transition: opacity 0.35s ease-in-out;
 transition: opacity 0.35s ease-in-out;
}
.Cate .badge {
	float: left;
	margin-right: 10px;
}
.soci li i {
	background: #666;
	text-align: center;
	padding: 8px;
	font-size: 20px;
	border-radius: 50%;
	color: #fff;
}
.soci .list-group-item {
	border: none;
}
.soci li .fa-facebook {
	background: #5e8fbf;
	padding: 8px 12px;
}
.soci li .fa-twitter {
	background: #45c0e3;
}
.soci li .fa-linkedin {
	background: #3c638a;
	padding: 8px 9px;
}
.soci li .fa-instagram {
	background: #9e7843;
	padding: 8px 9px;
}
.carousel.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	left: 0;
}
.carousel.vertical .active, .carousel.vertical .next.left, .carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .next, .carousel.vertical .active.right {
	top: 100%;
}
.carousel.vertical .prev, .carousel.vertical .active.left {
	top: -100%;
}

#tf-contac .col-md-5 h3 {
	color: #73757d;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 91px 0 34px 20px;
}
.tf-contac-bg {
	padding: 80px 0;
}
/*=======================================
Contact form
==========================================*/
.get-n-tch {
	border: 1px #ccc solid;
	padding: 30px 40px;
	border-radius: 10px;
}
.get-n-tch .contact-form {
	margin-top: 15px;
}
.get-n-tch .contact-form .textarea {
	min-height: 220px;
	resize: none;
}
.get-n-tch .form-control {
	box-shadow: none;
	border-color: #eee;
	height: 49px;
}
.get-n-tch .form-control:focus {
	box-shadow: none;
	border-color: #00b09c;
	border-radius: 0px;
}
.get-n-tch .form-control-feedback {
	line-height: 50px;
}
.get-n-tch .main-btn {
	background: #077623;
	border-color: #077623;
	color: #fff;
	border-radius: 0px;
}
.get-n-tch .main-btn:hover {
	background: #00a491;
	color: #fff;
}
.get-n-tch .form-control-feedback {
	line-height: 50px;
	top: 0px;
}
.get-n-tch form label {
	color: #9fa3a7;
	margin-top: 20px;
}
.get-n-tch form input {
	border-width: 0px;
	border-bottom: 1px #ccc solid;
	border-radius: 0px;
}
.get-n-tch form textarea {
	border-width: 0px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 20px;
	width: 84%;
	display: block;
	height: 150px;
	margin-left: 50px;
}
.get-n-tch form .col-md-9 i {
	position: absolute;
	top: 37%;
	right: 16px;
	color: #077623;
	font-size: 8px;
}
.get-n-tch .row .col-md-6 i {
	color: #077623;
}
.get-n-tch .row .col-md-6 label {
	margin-top: 9px;
}
/*form validation*/
.get-n-tch form {
	max-width: 450px;
	margin: 0 auto;
}
.get-n-tch form > div {
	position: relative;
	background: white;
	margin-bottom: 20px;
}
.get-n-tch form > div > label {
	font-weight: bold;
	position: absolute;
	top: 0px;
	color: #333;
	left: 0px;
}
.get-n-tch form > div > input[type="text"], form > div > input[type="email"], form > div > input[type="password"] {
	width: 84%;
	border: 0;
	padding: 20px 20px 20px 20px;
	background: #fff;
	margin-left: 50px;
	border-bottom: 1px solid #ccc;
}
.get-n-tch form > div > input[type="text"]:focus, form > div > input[type="email"]:focus, form > div > input[type="password"]:focus {
	outline: 0;
	background: white;
}
.get-n-tch form > div > input[type="text"]:focus + label, form > div > input[type="email"]:focus + label, form > div > input[type="password"]:focus + label {
	opacity: 0;
}
.get-n-tch form > div > input[type="text"]:valid, form > div > input[type="email"]:valid, form > div > input[type="password"]:valid {
 background: url(/static/img/vali-gr.png);
 background-size: 20px;
 background-repeat: no-repeat;
 background-position: 100% 20px;
 border-bottom:1px #68c2ac solid;
}
.get-n-tch form > div > input[type="text"]:valid + label, form > div > input[type="email"]:valid + label, form > div > input[type="password"]:valid + label {
 opacity: 0;
}
.get-n-tch form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown), form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown), form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
 background:#d9534f;
color:#fff;
}
.get-n-tch form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label, form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label, form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
 opacity: 0;
}
.get-n-tch form > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements, form > div > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements, form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
 max-height: 200px;
 padding: 0 30px 20px 50px;
}
.get-n-tch form > div .requirements {
	padding: 0 30px 0 50px;
	color: #999;
	max-height: 0;
	-webkit-transition: 0.28s;
	transition: 0.28s;
	overflow: hidden;
	color: red;
	font-style: italic;
}
/*Form validation*/


/*.get-n-tch input[type="text"]:valid {
    color: green;
}

.get-n-tch input[type="text"]:valid ~ .input-validation::before {
    content: "\f00c";
    color: green;
}

.get-n-tch input[type="text"]:invalid {
    color: red;
}*/

.widget ul, .tagcloud, .calendar_wrap {
	margin-left: 10px;
}
.widget-title {
	font-size: 16px;
	font-weight: bold;
	color: #4e5f6f;
	font-family: 'Roboto', sans-serif;
	text-transform: none;
	margin: 48px 0 20px;
}
.calendar_wrap #wp-calendar th, td {
	padding: 10px;
	background: #f9f9f9;
	text-align: center;
	border: 1px #e3e3e3 solid;
	border-bottom: 1px #ccc solid;
}
.widget_calendar tbody a {
	/*background-color: #007acc;*/
	color: #fff;
	display: block;
	font-weight: 700;
}
.widget_recent_entries li img {
	float: left;
}
.widget_recent_entries li a {
	display: block;
	margin-left: 10px;
}
aside .widget_search {
	margin-bottom: 18px;
	margin-top: 27px;
}
.thumb {
	display: block;
	width: 100%;
	margin: 0;
}
/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}
/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 482px;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}
.featured-article .block-title {
	/* Position & Box Model */
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	/* background */
	background: rgba(0,0,0,0.7);
	/* Width/Height */
	padding: .5em;
	width: 100%;
	/* Text color */
	color: #fff;
}
.featured-article .block-title p {
	margin: 0;
	color: #193f5d;
	font-size: 14px;
}
.widget_categories .Cate .list-group-item {
	padding: 14px 0;
	color: #969dad;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	border-bottom: 1px #dcdde1 solid;
	margin-bottom: 1px;
}
.widget_categories .Cate .list-group-item a {
	color: #969dad;
}
.widget_categories .Cate .list-group-item a:hover {
	color: #077623;
	transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
}
.widget_categories .Cate .list-group-item a:hover .badge {
	background-color: #077623;
	color: #fff;
	transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
}
.widget_categories .Cate .list-group-item a .badge {
	color: #999;
	background-color: #e8e9ed;
}
.widget_recent_entries ul li .media-body p {
	color: #193f5d;
	font-size: 14px;
}
.widget_recent_entries ul li .media-body p a {
	color: #193f5d;
	font-size: 14px;
	margin-left: 0px;
}
.widget_recent_entries ul li .media-body p a:hover {
	color: #077623;
	font-size: 14px;
	transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
}
.widget_social {
	height: 140px;
}
.widget_tag_cloud .tagcloud a {
	margin-top: 5px;
}
.widget_meta ul {
	list-style: none;
}
.widget_meta li {
	padding: 8px 0;
}
.widget_meta li a {
	color: #193f5d;
	font-size: 14px;
	list-style: none;
	font-weight: 600;
}
.widget_meta li a:hover {
	color: #ec6262;
	transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
}
.widget_meta li:hover:before {
	color: #ec6262;
	transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-webkit-transition: all ease-in .3s;
}
.widget_meta li:before {
	content: "-";
	padding: 0 10px 0 0;
	font-weight: bold;
	color: #bbbbbb;
}
/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
	border-bottom: 1px solid #e8e8e8;
}
.main-list .media {
	padding-bottom: 1.1em;
}
.by-author {
	color: #73787c !important;
	font-size: 12px !important;
	font-style: normal;
}
.entry-summary {
	float: left;
}
article img {
	/*min-width: 100%;*/
	min-height: 320px;
	border-radius: 5px;
	min-width: 96%;
	max-width: 96% !important;
}
article {
	padding: 22px 0;
	float: left;
}
.blog-artic {
}
.blog-artic h2 {
	font-size: 28px;
	line-height: 1.3;
	text-transform: none;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: #193f5d;
	margin: 18px 0 18px 0;
}
.blog-artic h2 a {
	color: #193f5d;
}
.blog-artic h4 {
	color: #077623;
	font-size: 12px;
	font-weight: 700;
}
.blog-artic .meta-author {
	font-size: 17px;
	color: #323533;
	font-weight: bold;
}
.blog-artic .meta-date {
	color: #969dad;
	text-transform: capitalize;
	font-weight: 500;
}
.blog-artic p {
	color: #323533;
	font-size: 16px;
	font-weight: 300;
	margin: 23px 0;
	line-height: 1.5;
}
.blog-artic .read-mre {
	margin: 28px 0;
}
.blog-artic .read-mre a {
	color: #323533;
	text-decoration: underline;
	font-weight: 700;
	font-size: 18px;
}
.blog-artic .read-mre a:hover {
	text-decoration: none;
	color: #077623;
	font-weight: 700;
	transition: all ease-out .3s;
	-moz-transition: all ease-out .3s;
	-webkit-transition: all ease-out .3s;
}
.ma-p {
	padding-left: 0px;
	margin-left: -15px;
}
.ma-p iframe {
	width: 100%;
	height: 720px;
}
.contc-fom {
	padding-left: 50px;
}
.contc-fom h3 {
	font-size: 36px;
	font-weight: bold;
	color: #73757d;
	margin: 76px 0px 28px 46px;
}
.ful-artic {
	background: url(/static/img/article-bg.jpg) center center no-repeat;
	padding: 46px;
	background-size: cover;
	border-radius: 5px;
}
.ful-artic h2 {
	margin-bottom: 35px;
	line-height: 1;
}
.ful-artic h2 a {
	color: #fff !important;
	font-size: 56px;
	font-weight: 900;
	margin-bottom: 35px;
	text-transform: none;
}
.ful-artic p {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}
.ful-artic .meta-top {
	display: none;
}
.ful-artic .read-mre {
	background-color: #ec6262;
	padding: 12px 40px;
	font-size: 18px;
	color: #fff;
	border-radius: 10px;
	margin-top: 40px;
	display: inline-block;
}
.ful-artic h4 {
	color: #077623;
	font-size: 12px;
	font-weight: 700;
}
#tf-Clients .thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #f5f7fa;
	border: 0px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}
#tf-Clients .section-title {
	color: #73757d;
	font-size: 28px;
	font-weight: bold;
}
#tf-Clients .owl-page.active span {
	background: #9a9898;
}
.ful-artic .media-heading a {
}
.blog-artic .nopd-col {
	padding-left: 0;
}
/*#tf-contac{display:block;}*/



/*video css*/

#ful-vdo {
	height: 100vh;
	background:#FFF;
}
#ful-vdo h6 {
	visibility: hidden;
}
.header-unit {
	height: 100vh;
	
	position: relative;
}
#video-container {
	position: absolute;
}
#video-container {
	top: 0%;
	left: 0%;
	height: 100%;
	object-fit:cover;
	width: 100%;
	overflow: hidden;
}
video {
	position: absolute;
	z-index: 0;
}
video.fillWidth {
	width: 100%;
	object-fit:cover;
	
	height:100%;
}
.playpause {
	background-image: url(/static/img/playbutton.png);
	background-repeat: no-repeat;
	width: 20%;
	height: 20%;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
	background-size: contain;
	background-position: center;
}
/*counter*/



#count-bg {
	padding: 100px 0;
	background: #0098de;
}
#count-bg h6 {
	visibility: hidden;
}
.contr {
	font-family: 'Roboto', sans-serif;
}
.Count {
	line-height: 100px;
	color: white;
	font-size: 100px;
	font-style: normal;
	margin-left: 30px;
	font-family: 'Lato', sans-serif !important;
	font-weight: 100 !important;
}
.contr p {
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	margin-left: 100px;
	text-align: left;
}
.lne {
	width: 33px;
	height: 5px;
	background: #077623;
	float: left;
	margin-top: 24px;
	margin-right: 24px;
}
