{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Envelope.io</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="icon " href="favicon.ico" type="{% static 'image/x-icon' %}">
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Slider
    ================================================== -->
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen">  
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" media="screen">   

<!-- Animation
==========================================================-->
<link href="css/animate.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">   
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<!-- <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
-->
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <!-- <a class="navbar-brand" href="index.html"><img src="img/logo-top.png" width="165" height="100"></a>--> 
      <img src="{% static 'img/logo-top.png' %}" width="140" height="61" alt=""> </div>
    <div class="col-md-8 fright"> 
      <!-- content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#hero" class="page-scroll">Home</a></li>
          <!-- <li><a href="#tf-products" class="page-scroll">About</a></li>-->
          
          <li class="dropdown"><!--Drop down menu start--> 
            <a href="#tf-about" class=" page-scroll" >About</a> 
            <!--<ul class="dropdown-menu multi-level">
              <li><a href="#tf-about">About</a></li>
              <li><a href="#">Menu2</a></li>
              <li><a href="#">Menu3</a></li>
              <li class="divider"></li>
              <li><a href="#">Menu4-withline</a></li>
              <li class="divider"></li>
              <li class="dropdown-submenu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu5</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Sub-menu1</a></li>
                  <li class="dropdown-submenu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub-menu2</a>
                    <ul class="dropdown-menu">
                      <li > <a href="#" class="dropdown-toggle" data-toggle="dropdown">sub-Sub-menu</a> </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>--> 
          </li>
          <!--Drop down menu end-->
          <li><a href="#tf-products" class="page-scroll">Investment</a></li>
          <li><a href="#tf-works" class="page-scroll">Portfolio</a></li>
          <li><a href="#tf-team" class="page-scroll">Team</a></li>
          <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
      
    </div>
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Home Page
    ==========================================-->

<section id="hero" class="text-center">
  <div class="overlay"> 
    
   
    <!---
    <video poster="video/sample-vdo.jpg" id="bgvid" webkit-playsinline playsinline autoplay muted loop>
      <source src="video/sample-vdo.webm" type="video/webm">
      <source src="video/sample-vdo.mp4" type="video/mp4">
    </video>
    
  -->
    
    <div class="content">
      <div class="container text-center">
        <div class="row">
         
          <div class="col-md-6 col-md-offset-3">
            <h1 class="banner-caption1  wow fadeInDown" >WELCOME TO ENVELOPE.IO</h1>
            <p class="lead banner-content1  wow fadeInUp" data-wow-delay=".5s">We build projects and services that covers you to the physical environment. </p>
            <div class="col-lg-12  wow fadeInDown" data-wow-delay="1s" style="padding:0;">
              <p class="banner-link"> <a href="#" data-toggle="modal" data-target="#watch-video"> <i class="fa fa-play"></i> Watch Trailer</a></p>
            </div>
            <a href="#tf-about" class="fa fa-angle-down1 page-scroll"></a> </div>
         
        </div>
      </div>
    </div>
  </div>
</section>

<!--modal video start-->

<div id="watch-video"  class="modal modal-fullscreen fade " tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <!--<h4 class="modal-title" id="myLargeModalLabel"> Aenean aliquam
              <small>vitae dignissim nibh</small></h4>--> 
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row text-center">
            
            <div class="col-md-8 col-md-offset-2"> 
              
              <!-- 4:3 aspect ratio -->
              <div class="embed-responsive embed-responsive-4by3">
                <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/3AkjzDHuWKM"  allowfullscreen></iframe>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal video end--> 

<!-- About Us Page
    ==========================================-->
<section id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h4 class="about-heading">AT ENVELOPE.IO,WE BUILD PRODUCTS THAT WORKS.</h4>
        </div>
        <p class="intro about-content">We are an internet company that do things</p>
      </div>   
      <div class="col-md-6"> <img src="{% static 'img/about-us-img.jpg' %}" class="img-responsive" alt=""> </div>
      <div class="col-md-6">
        <div class="about-text">
          <ul class="about-list">
            <li> <span class="fa fa-check"></span> <strong>Our Vision.</strong><br>
              <p>We connect to the world.</p>
            </li>
            <li> <span class="fa fa-check"></span> <strong>Our Mission </strong><br>
              <p>We don't live by the rules.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</section>

<!-- product Section
    ==========================================-->
<section id="tf-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title"> <span class="lne"></span>
          <h4 class="product-headingn wow fadeInDown">INVESTMENT</h4>
        </div>
        <h3 class="product-contentn wow fadeInUp" data-wow-delay=".2s">Investing in us will be a win win.</h3>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <ul class="products-list">
            <li class=" wow fadeIn" data-wow-delay="1s"> <span class="fa fa-2x fa-globe"></span> <strong>CORPORATE STRUCTURE</strong><br>
              <p>Envelope.io is a registered company under the Nigerian Law.We are a limited liablity company by shares with registration number
				RC 1377518
			  </p>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.2s"> <span class="fa fa-2x fa-share-square-o"></span> <strong>INVEST IN US</strong><br>
              <p>You choose  the events you want to  watch with 
                beautifully unfiletered coverage.</p>
            </li>
            <li class=" wow fadeIn" data-wow-delay="1.5s"> <span class="fa fa-2x  fa-comment-o"></span> <strong>SOCIAL INTEGRATION</strong> <br>
              <p>Join the global conversation in real - time  with 
                live commentary from the social web.</p>
            </li>
          </ul>
        </div>
      </div>
																		
      <div class="col-md-5 col-md-offset-1 wow fadeInRight produ-img"  data-wow-delay=".5s" > <img src="{% static 'img/mobile-img.png' %}" class="img-responsive" alt=""> </div>
    </div>
  </div>
</section>



<!-- Portfolio Section
    ==========================================-->
<section id="tf-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title"> <span class="lne"></span>
          <h4 class="product-headingn wow fadeInDown" >portfolio</h4>
        </div>
        <h3 class="product-contentn wow fadeInUp" data-wow-delay=".2s">Our Completed Projects</h3>
      </div>
    </div>
    <div class="space"></div>
    <div id="lightbox" class="row isotope pro-mrgn" >
      
      <div class="col-sm-6 col-md-3 col-lg-3 app isotope-item" >
        <div class="portfolio-item">
          <div class="hover-bg"> <a href="#">
            <div class="hover-text">
              <h4>Nearme</h4>
              <small class="pull-left">Android App</small> <i class="fa  fa-long-arrow-right"></i> </div>
            <img src="{% static 'img/portfolio/06.jpg' %}" class="img-responsive" alt="..."> </a> </div>   
        </div>
      </div>
    </div>
  </div>
</section>





<!-- Team Page
    ==========================================-->
<section id="tf-team" >
  <div class="overlay">
    <div class="container">
      <div class="section-title"> <span class="lne"></span>
        <h4 class="product-headingn wow fadeInDown" >Team</h4>
      </div>
      <h3 class="product-contentn wow fadeInUp" data-wow-delay=".2s">Brains behind the Envelope.</h3>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div id="team" class="owl-carousel owl-theme row">
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/01.jpg' %}" alt="..." class="img-circle team-img">   
              <div class="caption">
                <h3>Oguntoye OLUWASEYI</h3>
                <p>CEO/FOUNDER</p>
				<p>Design,UX,Strategy,Legal</p>
                <p> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a> </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/02.jpg' %}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>Odegbaro OLAKUNLE</h3>
                <p>CO-FOUNDER</p>
				<p>Software Engineer</p>
                <p><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/03.jpg' %}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>Aladejubelo OLUWASHINA</h3>
                <p>CTO</p>
				<p>AI,Big Data,Infrastructure</p>
                <p><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-dribbble"></i></a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/04.jpg' %}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>Oluwatayo ADEYANJU</h3>
                <p>HR,MARKETING</p>
				<p>Salesforce, Oracle Expert</p>
                <p><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/04.jpg' %}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>Oladele ADEYINKA</h3>
                <p>ADVISOR</p>
				<p>Chief Digital Officer, ALAT</p>
                <p><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-instagram"></i></a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail"> <img src="{% static 'img/team/01.jpg' %}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>Lekan Latona</h3>
                <p>ADVISOR</p>
				<p>Chief Monty OFFICER, CardConcrete.ng</p>
                <p><a href="#"><i class="fa fa-facebook"></i></a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>




<section id="tf-contact">
  <div class="container-fluid"> 
    <!--contacts maps-->
    <div class="col-md-6 col-sm-12 ma-p">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1652.0077912758786!2d76.30789068336489!3d10.003735322152608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1472536184223"  style="border:0" allowfullscreen></iframe>
    </div>
    <!--contacts maps--> 
    <!--contacts form-->
    <div class="col-md-6  col-sm-12 contc-fom">
      <h3>Get In Touch</h3>
      <div class="col-md-9 get-n-tch col-xs-pull-0">
        <div class="row">
         
          
          
          
          
          <form action="#0" id="contact-form">

  <div class="form-group">
  
  <label for="first_name">Name</label>
 
    <input type="text" id="first_name" name="first_name" required placeholder=" " />
    
  </div>
  
  <div class="form-group">
   <label for="Phone">Phone</label>
    <input type="text" id="Phone"  onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]{10}" name="Phone" required placeholder=" " />
   
  </div>
  
  <div class="form-group">
   <label for="email">Email </label>
    <input type="email" id="email" name="email" required placeholder=" " />
   
    <div class="requirements">
      Must be a valid email address.
    </div>
  </div>
  
  <div>
  <label >Message </label>
    <textarea ></textarea>
    
   
  </div>
  
   <button type="submit" class="btn main-btn pull-right">Send a message</button>

</form>
          
        </div>
      </div>
    </div>
    
    <!--contacts form--> 
  </div>
</section>

<!-- footer Section
    ==========================================-->
<footer class="footer-section">
  <div class="container">
    <div class="row text-center ">
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 wow fadeInUp">
         <!-- <form>
            <div class="input-group mai-subs">
              <input type="text" class="form-control " placeholder="Enter your Email Here">
              <span class="input-group-btn">
              <button class="btn btn-danger" type="button">Subscribe</button>
              </span> </div>
          
            
          </form>-->
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-12 text-center">
        <div class=" fnav">
          <ul class="footer-social">
            <li><img src="{% static 'img/logo-top.png' %}" width="140" alt=""></li>
            <li><a href="#hero">Home</a></li>
            <li><a href="#tf-products" class="page-scroll">Investment</a></li>
          <li><a href="#tf-works" class="page-scroll">Portfolio</a></li>
          <li><a href="#tf-team" class="page-scroll">Team</a></li>
          <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>    
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script> 
<script src="{% static 'js/owl.carousel.js' %}"></script>     
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>   
<script type="text/javascript">new WOW().init();</script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>   
</body>
</html>